@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Squada+One&display=swap');
.bg{
    background-image: url('~/assets/images/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  